body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f6f3ef;
}

header {
    background: #9b6b43;
    color: white;
    padding: 20px;
    text-align: center;
}

.banner img {
    width: 100%;
    display: block;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.item {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 250px;
    text-align: center;
    box-shadow: 0 0 10px #0003;
}

.item img {
    width: 100%;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background: #9b6b43;
    color: white;
    margin-top: 20px;
}
